# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [4]:
cuadros = soup.find_all('h1', class_ = 'h3 lh-condensed')

In [5]:
nombres = []

for i in cuadros:
    i = i.text.split()
    i = " ".join(i)
    nombres.append(i)

In [6]:
nombres

['Ismail Pelaseyed',
 'Alex Stokes',
 'Don Jayamanne',
 'Stefan Prodan',
 'Travis Cline',
 'Oliver',
 'dgtlmoon',
 'Guillaume Klein',
 'lllyasviel',
 'Angelos Chalaris',
 'Jon Skeet',
 'Chris Banes',
 'Carlos Scheidegger',
 'Anders Eknert',
 'Emil Ernerfeldt',
 'Andrea Aime',
 'Mattt',
 'Meng Zhang',
 'Shahed Nasser',
 'dkhamsing',
 'Kieron Quinn',
 'afc163',
 'Alan Donovan',
 'Lee Calcote',
 'Costa Huang']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [8]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [9]:
cuadros = soup.find_all('h2', class_ = 'h3 lh-condensed')

In [10]:
nombres = []

for i in cuadros:
    i = i.text.split()
    i = " ".join(i)
    nombres.append(i)

In [11]:
nombres

['THUDM / ChatGLM3',
 'xxlong0 / Wonder3D',
 'public-apis / public-apis',
 'donnemartin / system-design-primer',
 'bregman-arie / devops-exercises',
 'OpenBMB / ChatDev',
 'reflex-dev / reflex',
 'ageitgey / face_recognition',
 'logspace-ai / langflow',
 'CycodeLabs / raven',
 'MIC-DKFZ / nnUNet',
 'lllyasviel / Fooocus',
 'THUDM / CogVLM',
 'pchunduri6 / rag-demystified',
 'PaddlePaddle / PaddleOCR',
 'serengil / deepface',
 'ungoogled-software / ungoogled-chromium',
 'python-poetry / poetry',
 'django / django',
 'dataelement / bisheng',
 'litestar-org / litestar',
 'openai / whisper',
 'nasa-petal / discord_bot',
 'huggingface / autotrain-advanced',
 'deepset-ai / haystack']

#### Display all the image links from Walt Disney wikipedia page

In [12]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [13]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [14]:
lista = []

fotos = soup.find_all('a', class_ = 'mw-file-description')

for i in fotos:
    
    foto = i.find_all('img')[0]['src']
    
    lista.append(foto)

In [15]:
lista

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/220px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [16]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [17]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [18]:
box = soup.find_all('div', class_ = 'mw-parser-output')[0]

In [19]:
links = box.find_all('ul')
len(links)

10

In [20]:
python = []
for i in links:
    
    link = i.find_all('li')
    
    for i in link:
        
        enlace = i.find('a')['href']
        python.append(enlace)

python

['/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/wiki/Python_(genus)',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/Python_(codename)',
 '/wiki/Python_(film)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Timon_of_Phlius',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Pyton',
 '/wiki/Pithon']

#### Number of Titles that have changed in the United States Code since its last release point

In [21]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [22]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [23]:
nombres = []
for i in soup.find_all('div', class_ = 'usctitlechanged'):
    i = i.text.split()
    i = " ".join(i)
    nombres.append(i)

nombres

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [24]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten' # NO hacerla

In [25]:
#your code

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [26]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/' # NO hacerla

In [27]:
#your code

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [28]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons' # NO hacerla

In [29]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [30]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/' # NO hacerla

In [31]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [32]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/' # NO hacerla

In [33]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [34]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/' # NO hacerla

In [35]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [36]:
text = []

central = soup.find_all('div', class_ = 'central-featured')[0]

for i in range(1, 10):
    class_name = f'central-featured-lang lang{i}'
    boxes = central.find_all('div', class_=class_name)

    
    box = boxes[0]
    lang = box.text.split()[0]
    num = ' '.join(box.text.split()[1:])
    texto = lang + " " + num
    text.append(texto)

In [37]:
print(text)

['English 6 715 000+ articles', '日本語 1 387 000+ 記事', 'Español 1 892 000+ artículos', 'Русский 1 938 000+ статей', 'Deutsch 2 836 000+ Artikel', 'Français 2 553 000+ articles', 'Italiano 1 826 000+ voci', '中文 1 377 000+ 条目 / 條目', 'Português 1 109 000+ artigos']

#### A list with the different kind of datasets available in data.gov.uk

In [38]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [39]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [40]:
names = []

boxes = soup.find_all('h3', class_ = 'govuk-heading-s dgu-topics__heading')

for i in boxes:
    i = i.text
    names.append(i)

In [41]:
names

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [42]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [43]:
html = req.get(url).content   # o .text

soup = bs(html, 'html.parser')

In [44]:
tabla = soup.find_all('table', class_="wikitable sortable static-row-numbers")[0]

In [45]:
tabla.find_all('tr')[0].text.split('\n')

['',
 'Language',
 '',
 'Native speakers(millions)',
 '',
 'Language family',
 '',
 'Branch',
 '']

In [46]:
filas = tabla.find_all('tr')

filas = [f.text.split('\n') for f in filas]

len(filas)

28

In [47]:
# limpieza

final = []

for f in filas:
    
    tmp = []
    
    for palabra in f:
        
        if palabra!='':
            tmp.append(palabra)
            
    final.append(tmp)
final[:1]

[['Language', 'Native speakers(millions)', 'Language family', 'Branch']]

In [48]:
final = [[palabra for palabra in f if palabra !=''] for f in filas]

final[0]

['Language', 'Native speakers(millions)', 'Language family', 'Branch']

In [49]:
import pandas as pd


col_names = final[0]
final = final[1:]

df = pd.DataFrame(final, columns=col_names)

df.head()

,Language,Native speakers(millions),Language family,Branch
0,"Mandarin Chinese(incl. Standard Chinese, but e...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi(excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [50]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [51]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [52]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [53]:
html = req.get(url).text   # o .text

soup = bs(html, 'html.parser')

In [54]:
#Error 403 no access

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [55]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [56]:
html = req.get(url).text   # o .text

soup = bs(html, 'html.parser')

In [57]:
#Error 403 no access

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [58]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [59]:
#Error 403 no access Api no activada

#### Book name,price and stock availability as a pandas dataframe.

In [60]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [61]:
html = req.get(url).text   # o .text

soup = bs(html, 'html.parser')

In [62]:
books = soup.find_all('li', class_='col-xs-6 col-sm-4 col-md-3 col-lg-3')

In [63]:
data = []

for i in books:
    
    name = i.find_all('h3')[0].text
    
    price = i.find_all('p', class_ = 'price_color')[0].text[1:]
    
    avail = i.find_all('p', class_ = 'instock availability')[0].text.strip()
    
    
    data.append({'name': name, 'price': price, 'availability': avail})

In [64]:
df = pd.DataFrame(data)
df.head()

                           name   price availability
0            A Light in the ...  £51.77     In stock
1            Tipping the Velvet  £53.74     In stock
2                    Soumission  £50.10     In stock
3                 Sharp Objects  £47.82     In stock
4  Sapiens: A Brief History ...  £54.23     In stock