# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
#%pip install beautifulsoup4
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [ ]:
html = req.get(url).text

html

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
soup = bs(html, 'html.parser')


nombres = soup.find_all('h1', class_ = 'h3 lh-condensed')

alias = soup.find_all('p',  class_ = 'f4 text-normal mb-1')

In [ ]:
nom = []
aka = []


for e in nombres:
    nom.append(e.text.strip()) 
    

for e in alias:
    aka.append(e.text.strip())

In [ ]:
# Después de intentarlo de mil maneras, no soy capaz de que coincidan los nombres con los alias para sacarlos
# en un diccionario

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

web = req.get(url).text

soup = bs(web, 'html.parser')

repo = soup.find_all('h2', class_ = 'h3 lh-condensed')


repos =[]
for i in repo:
    repos.append(i.text.strip())

        
    
for i in range(len(repos)):
    if '\n' in repos[i]:
        repos[i] = repos[i].replace('\n', '')
        repos[i] = repos[i].replace('     ', '')

repos

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

wiki = req.get(url).text

soup = bs(wiki, 'html.parser')


links = soup.find_all('img')

for i in links:
    imagen = i['src']
    print(imagen)

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 

html = req.get(url).text
soup = bs(html, 'html.parser')
li = soup.find('div', class_ = 'mw-body-content mw-content-ltr').find_all('li')

len(li)

In [ ]:
links = []

for e in li:
    a = e.find('a')
    href = a.attrs['href']
    links.append(href)
print(links)
len(links)

#### Number of Titles that have changed in the United States Code since its last release point

In [ ]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [ ]:
html = req.get(url).text
soup = bs(html, 'html.parser')

titles = soup.find_all('div', class_ = 'usctitlechanged')


titles_changed = []
for i in titles:
    titles_changed.append(i.text.strip())
titles = []
for char in titles_changed:
        titles.append(char.split(' - ')[0])
    
    
print(titles)

#### A Python list with the top ten FBI's Most Wanted names

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [ ]:
# No se hace

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [ ]:
# No se hace

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
# No se hace

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# No se hace

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# No se hace

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

html = req.get(url).text
soup = bs(html, 'html.parser')

total_info = soup.find_all('a', class_ = 'link-box')


total = []
for i in total_info:
    languages = i.find('strong').text.strip()
    articles = i.find('small').text.strip()
    articles = articles.replace('\xa0', '')
    total.append((languages, articles))
    
print(total)



#len(total_info) # esto es el nº de idiomas que hay

#### A list with the different kind of datasets available in data.gov.uk

In [45]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

html = req.get(url).text
soup = bs(html, 'html.parser')

data = soup.find('ul', class_ = 'govuk-list dgu-topics__list').text.split('\n')
data

['',
 '',
 'Business and economy',
 'Small businesses, industry, imports, exports and trade',
 '',
 '',
 'Crime and justice',
 'Courts, police, prison, offenders, borders and immigration',
 '',
 '',
 'Defence',
 'Armed forces, health and safety, search and rescue',
 '',
 '',
 'Education',
 'Students, training, qualifications and the National Curriculum',
 '',
 '',
 'Environment',
 'Weather, flooding, rivers, air quality, geology and agriculture',
 '',
 '',
 'Government',
 'Staff numbers and pay, local councillors and department business plans',
 '',
 '',
 'Government spending',
 'Includes all payments by government departments over £25,000',
 '',
 '',
 'Health',
 'Includes smoking, drugs, alcohol, medicine performance and hospitals',
 '',
 '',
 'Mapping',
 'Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain',
 '',
 '',
 'Society',
 'Employment, benefits, household finances, poverty and population',
 '',
 '',
 'Towns and cities',
 'Includes housing, urban planning, leisure, waste and energy, consumption',
 '',
 '',
 'Transport',
 'Airports, roads, freight, electric vehicles, parking, buses and footpaths',
 '',
 '',
 'Digital service performance',
 'Cost, usage, completion rate, digital take-up, satisfaction',
 '',
 '',
 'Government reference data',
 'Trusted data that is referenced and shared across government departments',
 '',
 '']

In [46]:
new_data = [i for i in data if i != '']

grupo = {}

for i in range(0, len(new_data), 2):
    key = new_data[i]
    value = new_data[i + 1]
    grupo[key] = value
grupo

{'Business and economy': 'Small businesses, industry, imports, exports and trade',
 'Crime and justice': 'Courts, police, prison, offenders, borders and immigration',
 'Defence': 'Armed forces, health and safety, search and rescue',
 'Education': 'Students, training, qualifications and the National Curriculum',
 'Environment': 'Weather, flooding, rivers, air quality, geology and agriculture',
 'Government': 'Staff numbers and pay, local councillors and department business plans',
 'Government spending': 'Includes all payments by government departments over £25,000',
 'Health': 'Includes smoking, drugs, alcohol, medicine performance and hospitals',
 'Mapping': 'Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain',
 'Society': 'Employment, benefits, household finances, poverty and population',
 'Towns and cities': 'Includes housing, urban planning, leisure, waste and energy, consumption',
 'Transport': 'Airports, roads, freight, electric vehicles, parking, buses and footpaths',
 'Digital service performance': 'Cost, usage, completion rate, digital take-up, satisfaction',
 'Government reference data': 'Trusted data that is referenced and shared across government departments'}

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [47]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

html = req.get(url).text
soup = bs(html, 'html.parser')

In [48]:
tabla = soup.find_all('tr')
lang = []

for fila in tabla:
    lang.append(fila.text.split('\n'))
    
lang = pd.DataFrame(lang)[:10]

lang

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,,Language,,Native speakers(millions),,Language family,,Branch,,None,...,None,None,None,None,None,None,None,None,None,None
1,,"Mandarin Chinese(incl. Standard Chinese, but e...",,939,,Sino-Tibetan,,Sinitic,,None,...,None,None,None,None,None,None,None,None,None,None
2,,Spanish,,485,,Indo-European,,Romance,,None,...,None,None,None,None,None,None,None,None,None,None
3,,English,,380,,Indo-European,,Germanic,,None,...,None,None,None,None,None,None,None,None,None,None
4,,"Hindi(excl. Urdu, and other languages)",,345,,Indo-European,,Indo-Aryan,,None,...,None,None,None,None,None,None,None,None,None,None
5,,Portuguese,,236,,Indo-European,,Romance,,None,...,None,None,None,None,None,None,None,None,None,None
6,,Bengali,,234,,Indo-European,,Indo-Aryan,,None,...,None,None,None,None,None,None,None,None,None,None
7,,Russian,,147,,Indo-European,,Balto-Slavic,,None,...,None,None,None,None,None,None,None,None,None,None
8,,Japanese,,123,,Japonic,,Japanese,,None,...,None,None,None,None,None,None,None,None,None,None
9,,Yue Chinese(incl. Cantonese),,86.1,,Sino-Tibetan,,Sinitic,,None,...,None,None,None,None,None,None,None,None,None,None

In [49]:
lang = lang.iloc[:, 1:4]
lang

,1,2,3
0,Language,,Native speakers(millions)
1,"Mandarin Chinese(incl. Standard Chinese, but e...",,939
2,Spanish,,485
3,English,,380
4,"Hindi(excl. Urdu, and other languages)",,345
5,Portuguese,,236
6,Bengali,,234
7,Russian,,147
8,Japanese,,123
9,Yue Chinese(incl. Cantonese),,86.1

In [50]:
lang = lang.drop(2, axis= 1)
lang = lang.drop(0, axis= 0)

lang.columns = ['Language', 'Native Speakers (millions)']

lang

,Language,Native Speakers (millions)
1,"Mandarin Chinese(incl. Standard Chinese, but e...",939
2,Spanish,485
3,English,380
4,"Hindi(excl. Urdu, and other languages)",345
5,Portuguese,236
6,Bengali,234
7,Russian,147
8,Japanese,123
9,Yue Chinese(incl. Cantonese),86.1

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
# No se puede hacer con html

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code